.body-site .container .component-1 span {
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    display: block;
    padding: 20px;
}

.body-site .container .component-1 {
    display: block;
}

.component-1 .albumns {
    display: flex;
    height: 242px;
}

.component-1 .albumns .item {
    width: 210px;
    border: solid yellow 1px;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    padding: 10px;
}

.item:hover img{
    transition: all 1s;
    width: 200px;
    /* height: 102%; */
}

.item img{
    transition: all 1s ease;
}
